<div class="row fold-container">
<%- partial("_shared/_header") %>
<div class="container">
  <div class="row row-flex row-flex-wrap">    
    <div class="col-sm-4 outer-box">
    <div class="white-box">
      <span class="ion-clipboard form-icon text-brand"></span>
      <h3 class="text-center">Checklist</h3>
    </div>
    </div>

    <div class="col-sm-4 outer-box">
    <div class="white-box">
      <span class="ion-cash form-icon text-brand"></span>
      <h3 class="text-center">Focus on Selling</h3>
    </div>
    </div>
  
    <div class="col-sm-4 outer-box">
    <div class="white-box">
      <span class="ion-ribbon-b form-icon text-brand"></span>
      <h3 class="text-center">Why Us?</h3>      
    </div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid agency-container">
  <div class="container">
  <h1 class="text-center">Our Story</h1>
  <div class="row">
    <div class="col-md-3 hidden-sm hidden-xs"></div>
    <div class="text-center col-md-6 col-xs-12">
      <span class="ion-home form-icon"></span>
      <h3>The Beginning</h3>
      <p>Closer Pros was originally discovered by the administrative team of The Heyl Group at Keller Williams. We decided to spin off our contract to close devision to offer services to agents that do not have the support of a team or do not currently have someone doing their contract to close services.</p>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs"></div>
  </div>
  <div class="row">
    <div class="col-md-3 hidden-sm hidden-xs"></div>
    <div class="text-center col-md-6 col-xs-12">
      <span class="ion-person-stalker form-icon"></span>
      <h3>Growth Period</h3>
      <p>The account managers for The Heyl Group were closing on average 36 transactions per month which makes them very knowledgable in the real estate industry. They have dealt with many difficult and pleasant transactions and are very confident they can be the great support every agent needs!</p>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs"></div>
  </div>
  <div class="row">
    <div class="col-md-3 hidden-sm hidden-xs"></div>
    <div class="text-center col-md-6 col-xs-12">
      <span class="ion-arrow-graph-up-right form-icon"></span>
      <h3>Our future</h3>
      <p>The purpose of Closer Pros is to allow agents to focus on lead generation and not the in and out details of the contract to close process. Agents will no longer be focused on when inspection is scheduled, what their deadline date to deliver a disclosure is, or mess with the headache involved in organizing contract paperwork. Closer Pros completely removes that from the agent’s radar so they can focus on how to take their business to the next level.</p>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs"></div>
  </div>
  </div>
</div>
<div class="container contact-us" name="inquire">
  <div class="row">
    <h1 class="text-center">Contact Us</h1>
  </div>
  <div class="panel panel-default"/>
  <div class="panel-body">
    <form action="//formspree.io/ryandfloyd@gmail.com" method="POST">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="firstname" placeholder="First Name (required)" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="lastname" placeholder="Last Name (required)" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
          <input type="email" name="email" placeholder="Email (required)" required>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
          <input type="phone" name="phone" placeholder="Phone Number">
        </div>
        </div>
      </div>
      <input type="hidden" name="_subject" value="New Inquiry"/>
      <input type="text" name="_gotcha" style="display:none"/>
      <div class="row">
        <div class="text-center col-xs-12">
          <input type="submit" value="Send">
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
</div>
