<div class="container">
  <div class="row center-row">
    <div class="col-xs-12">
  	  <img class="img-responsive center-img" src="<%- url + '/img/logo.png'%>">
    </div>
  </div>
  <div class="row center-row">
    <div class="col-xs-12 text-center">
      <h2><strong>"Professional Real Estate Contract to Close Services”</strong></h2>
    </div>
  </div>
  <div class="row center-row text-brand">
    <div class="col-xs-12 text-center">
      <h2><strong>Transaction Management Package<br>(Buyers and Sellers)</strong></h2>
    </div>
  </div>
  <div class="row center-row">
    <div class="col-xs-12">
  	  <img class="img-responsive center-img" src="<%- url + '/img/package-price.jpg'%>">
    </div>
  </div>
  <div class="row center-row">
    <div class="package-list">
      <ul>
        <li>Complete Greensheet and submit to broker</li>
        <li>Upload all documents for broker compliance</li>
        <li>All status change in MLS</li>
        <li>Coordinate inspections, contractors, etc</li>
        <li>Call to client the first day for introduction</li>
        <li>List of vendors sent out to all appropriate parties</li>
        <li>Full contact with title company, lender, other agent and client</li>
        <li>All time sensitive tasks are managed by a task list</li>
        <li>Routine calls with your client 1X per week</li>
        <li>Monitor and send DA to title company</li>
        <li>Draw up all amendments per agent request and sent to all parties</li>
        <li>Schedule closings and send instructions to client</li>
        <li>Submit all final HUDs to broker and close out in MLS</li>
      </ul>
    </div>
  </div>
  <div class="row center-row text-brand">
    <div class="col-xs-12 text-center">
      <h2><strong>Delegate your tasks to us and see how it will make an impact on your business.</strong></h2>
    </div>
  </div>
  <div class="contact-us">
  <div class="well"/>
  <div class="well-body">
    <form action="//formspree.io/ryandfloyd@gmail.com" method="POST">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="firstname" placeholder="First Name (required)" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="lastname" placeholder="Last Name (required)" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
          <input type="email" name="email" placeholder="Email (required)" required>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
          <input type="phone" name="phone" placeholder="Phone Number">
        </div>
        </div>
      </div>
      <input type="hidden" name="_subject" value="New Inquiry"/>
      <input type="text" name="_gotcha" style="display:none"/>
      <div class="row">
        <div class="text-center col-xs-12">
          <input class="submit" type="submit" value="Inquire Now!">
        </div>
      </div>
    </form>
  </div>
  </div>
  </div>
</div>
